buildx
.DS_Store
BPTK_Py/.DS_Store
*.DS_Store
.eggs/
*.*pyc
*__pycache
*.csv
*.log
results/
venv
.idea/
.ipynb_checkpoints/
.vscode
dist/
*.egg-info
build/

BPTK_Py/sd-compiler/node_modules/
scenarios/
simulation_models/
sd_compiler/node_modules
_build
BPTK_Py/sd-compiler/package-lock.json
